* {
	margin: 0;
	padding: 0;
	color:white;
	box-sizing: border-box;
	font-family: fantasy;
}

html{
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

/*----------------ハンバーガーメニュー----------------*/

.menu-box{
	display: none;
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 10%;
	border: 1px solid red;
	margin-top: 5px;
}

.list-bar{
	display: block;
	width: 25px;
	height: 2px;
	margin: 5px auto;
	background-color: red;
}

.list-bar:first-child{
	margin-top: 10px;
}


/*----------------header----------------*/
header {
	height: 60px;
	width: 100%;
	background-color: white;
	opacity: 0.5;
	position:fixed;
	top:0;
	z-index:10;
}

.header-back {
	height: 60px;
	width: 100%;
}

.header-logo {
	font-size: 4rem;
	float: left;
	color: black;
}

.header-list li {
	font-size: 2rem;
	padding: 20px;
	float: left;
	list-style: none;
}

.header-list span {
	color:black;
	font-weight: bold;
}

.header-list {
	float: right;
}

header span:hover {
	color: green;

}

/*----------------top----------------*/
#container {
	height: 600px;
	position: relative;
}

.copy {
	position: absolute;
	top:300px;
	width: 100%;
	text-align: center;
}

.copy h3 {
	font-size: 4rem;
}

.copy h1 {
	font-size: 6.5rem;
	letter-spacing: 2px;
}

/*----------------about,menu,access,contact共通----------------*/
.wrapper-group {
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	float: left;
	margin-top: 50px;
	width: 100%;
}

.wrapper-img {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center;
}

.text-box {
	width: 400px;
	height: 350px;
	margin-top: 100px;
	word-wrap: break-word;
	float: left;
	color: white;
	background-color: rgba(105,105,105,0.35);
	padding:20px;
}

.text-box h1 {
	font-size: 4rem;
	letter-spacing: 2px;
	text-align: left;
}

.text-box p {
	font-size: 1.5rem;
	letter-spacing: 2px;
	text-align: left;
}

.text-box ul {
	padding-top: 10px;
}

.text-box li {
	font-size: 1.7rem;
	color: white;
	padding-top: 5px;
	margin-left: 20px;
}

/*.boxgroup {
	width: 400px;
	float: right;
}*/

.box {
	margin-top: 150px;
	margin-right: 20px;
	float: right;
	width: 20%;
	height: 200px;
	background-size:cover;
	background-position: center; 
}

/*----------------フォントが変わらない為----------------*/

/*----------------地図部分----------------*/

.chizu {
	margin-top:100px;
	margin-right:20px;
	float: right;
}

/*----------------写真関連----------------*/

.aboutpic1 {
	background-image: url(../img/woodimag.jpeg);
	background-position: right; 
	border: 5px double white;
}

.aboutpic2 {
	background-image: url(../img/woodfood.jpeg);
	background-position: center; 
	border: 5px double white;
}

.aboutpic3 {
	background-image: url(../img/sandfruits.jpg);
	border: 5px double white;
}

.aboutpic4 {
	background-image: url(../img/burger.jpg);
	border: 5px double white;
}

.pic2 {
	background-image: url(../img/woodfloor.jpg);
}

.pic3 {
	background-image: url(../img/sandveg.jpg);
}

.pic4 {
	background-image: url(../img/chizuimg.jpg);
}

.pic5 {
	background-image: url(../img/contact.jpeg);
}

/*----------------メッセ部分----------------*/

.contact {
	width: 400px;
	padding-top: 100px;
	padding-right: 20px;
	list-style: none;
	float: right;
}

.contact p {
	font-size: 1.5rem;
	margin-top: 5px;
	color: black;
}

input {
	width:100%;
	height: 30px;
	margin-top:5px;
	font-size:1.5rem;
	color: black;
	border:1px solid white;
}

textarea {
	width:100%;
	height: 100px;
	margin-top:5px;
	font-size:1.5rem;
	border:1px solid white;

}

.contact-submit {
	width: 100%;
	margin-top:5px;

}

/*----------------footer部----------------*/
footer {
	font-size: 2rem;
	height: 50px;
	width: 100%;
}

footer p {
	padding: 10px;
	float: right;
}

footer span {
	color: black;
}

footer span:hover {
	color: green;
}

/*===================レスポンシブcss===================*/
/*===================1000以下===================*/
@media (max-width:1000px) {
	.container {
		width: 100%;
	}
/*===================header===================*/
	header {
		height: 50px;
	}

	.header-logo {
		margin-left: 20px;
		font-size: 3.5rem;
	}

	.header-back {
		height: 50px;
	}

	.header-list {
		float: none;
		display: none;
	}

	.header-list li {
		float: none;
	}

	.menu-box{
		display: block;
	}

/*===================top===================*/
	.copy h3 {
		font-size: 2rem;
	}

	.copy h1 {
		font-size: 3.5rem;
	}
/**===================本体===================*/
	.text-box {
		background-color: rgba(105,105,105,0);
		margin-left: 20px;
	}

/*===================地図部分===================*/
/*===================写真関連===================*/

	.pic2 {
		background-image: url(../img/woodright.jpeg);
	}

	.pic3 {
		background-image: url(../img/vege.jpeg);
	}
/*===================メッセ部分-===================*/


/*===================footer部===================*/
	



/*===================767以下===================*/
@media (max-width:767px) {
	.container {
		width: 100%;
	}
/*===================header===================767*/
	header {
		height: 50px;
	}

	.header-logo {
		float: none;
		margin-left: 10px;
		font-size: 3.5rem;
	}

	.header-back {
		height: 50px;
	}

	.header-list {
		float: none;
		display: none;
	}

	.header-list li {
		float: none;
	}

	.menu-box{
		display: block;
	}
/*===================top===================767*/
	#container {
		height: 400px;
	}

	.copy {
		top:200px;
	}

	.copy h3 {
		margin-top: 10px;
		font-size: 2rem;
	}

	.copy h1 {
		font-size: 3.5rem;
	}
/**===================本体===================767*/
	.wrapper {
		float: none;
		margin-top: 10px;
	}

	.wrapper-img {
		height: 400px;
	}

	.text-box {
		width: 80%;
		height: 200px;
		margin-top: 20px;
		margin-left: 30px;
		float: none;
		background-color: rgba(105,105,105,0);
	}

	.text-box h1 {
		font-size: 2.5rem;
	}

	.text-box p {
		font-size: 1.2rem;
		letter-spacing: 1px;
	}

	.text-box li {
		font-size: 1rem;
		color: white;
		margin-left: 10px;
	}

	.box {
		margin-top: 25px;
		float: left;
		width: 35%;
		height: 140px;
	}

	.box:nth-child(1) {
		margin-left: 50px;
		margin-right: 20px;
	}

	/*===================地図部分===================767*/
	.none {
		display: none;
	}

	.chizu2 {
		width: 78%;
		height: 130px;
		margin-top: 20px;
		margin-left: 50px;
		background-image: url(../img/chizuimg.jpg);
		background-position: center;
		border: 2px solid white;
	}

	/*===================写真関連===================767*/

	.aboutpic1 {
		border: 2px double white;
	}

	.aboutpic2 {
		border: 2px double white;
	}

	.aboutpic3 {
		border: 2px double white;
	}

	.aboutpic4 {
		border: 2px double white;
	}

	.pic2 {
		background-image: url(../img/woodright.jpeg);
	}

	.pic3 {
		background-image: url(../img/vege.jpeg);
	}
	/*===================メッセ部分-===================767*/
	.contact {
		width: 100%;
		padding-top: 5px;
		margin-left: 30px;
		float: none;
	}

	.contact p {
		font-size: 0.8rem;
		margin-left: 20px;
	}

	textarea {
		width: 80%;
		height: 50px;
		margin-top:5px;
		margin-left: 20px;
		font-size:0.8rem;
	}

	.contact-submit {
		margin-left: 20px;
		width: 80%;

	}

	/*===================footer部===================767*/
	
	footer {
		font-size: 1.5rem;
		height: 40px;
	}

	footer p {
		float: none;
	}
}
	